.footer{
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.link_container{
    display:inline-block;
    text-decoration:none;
    height:20px;
    line-height:20px;
}
.link_container span {
    margin: 0px 0px 0px 5px; 
    color:#939393;
}