.header{
    text-align: center;
    padding-top: 80px;
    color: rgb(45, 105, 33);
    padding-bottom: 40px;
    width: 100%;
}
.header > .desktop > .tags{
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.header > .desktop > .tags > div{
    margin-right: 30px;
}
.header > .desktop > .tags > div:last-child{
    margin-right: 0;
}
.header > .desktop > .tags > div > input{
    display: none;
}
.header > .desktop > .tags > div > label{
    display: block;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all .3s;
}
.header > .desktop > .tags > div > label:hover{
    background: rgba(0, 0, 0, 0.5);
    color: #b7e6ff;
}
.header > .desktop > .tags > div > input[type = 'radio']:checked + label{
    color: #b7e6ff;
    background: rgba(0, 0, 0, 0.5);
}
.header > .mobie{
    position: fixed;
    top: 0;
    z-index: 9;
    height: 44px;
    background: #202e4e;
    width: 100%;
    display: none;
    text-align: center;
    line-height: 44px;
    color: #e3f5ff;
}
.header > .mobie > .menu_icon{
    height: 100%;
    width: 30px;
    position: absolute;
    left: 10px;
    cursor: pointer;
    display: inline-block;
}
.header > .mobie > .menu_icon > .linner{
    background: #e3f5ff;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
}
.header > .mobie > .menu_icon > .linner::after{
    content: '';
    background: #e3f5ff;
    opacity: 1;
    height: 2px;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    transition: transform 0.2s;
    transform-origin: left top;
}
.header > .mobie > .menu_icon > .linner::before{
    content: '';
    background: #e3f5ff;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    transition: transform 0.2s;
    transform-origin: left bottom;
}
.header > .mobie > .menu_icon > .spread{
    height: 0;
}
.header > .mobie > .menu_icon > .spread::before{
    transform: rotate(-45deg);
}
.header > .mobie > .menu_icon > .spread::after{
    transform: rotate(45deg);
}
.header > .mobie > .menus{
    background: #202e4e;
    margin-top: -5px;
    font-weight: bold;
    overflow: hidden;
    transition: all 0.6s;
}
.header > .mobie > .menus > .menu{
    cursor: pointer;
}
.header > .mobie > .menus > .menu:hover,
.header > .mobie > .menus > .menu_check{
    background: #899cca60;
}
@media screen and (max-width: 576px) {
    .header > .desktop{
        display: none;
    }
    .header > .mobie{
        display: block;
    }
}