.setting_container{
    background: #ffffff !important;
    color: #111 !important;
    bottom: 0px;
    z-index: 20;
    position: fixed;
    right: 10px;
    padding: 5px 10px 0 10px;
    width: 300px;
    border-radius: 5px 5px 0 0;
}
.setting_arrow{
    position: absolute;
    background: #ffffff;
    text-align: center;
    top: -18px;
    right: 20px;
    width: 40px;
    height: 18px;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}
.setting_arrow::after{
    content: '';
    width: 100%;
    height: 10px;
    background: inherit;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.setting_content{
    margin-top: 5px;
}