a.icons_tag{
    color: #aaa;
    margin-right: 8px;
}
.tags_container{
    cursor: default;
}
.tags_container > .slash{
    vertical-align:1px;
    margin-right:8px;
}
@media screen and (max-width: 576px) {
    .tags_container{
        width: 100%;
        margin-top: 3px;
    }
    .tags_container > .slash{
        display: none;
    }
}