a.icons_tag{
    color: #aaa;
    margin-right: 8px;
}
.row{
    width: 100%;
    display: none;
    height: 4px;
}
.slash{
    vertical-align:1px;
    margin-right:8px;
}
@media screen and (max-width: 576px) {
    .slash{
        display: none;
    }
    .row{
        display: block;
    }
}